{%- import "macros/config.html" as config_macros -%}
{%- import "macros/feed.html" as feed_macros -%}
{%- import "macros/post.html" as post_macros -%}

<!doctype html>
<html lang="{{ lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "partials/content_security_policy.html" %}
    <title>{%- block title -%}{{ config.title }}{%- endblock -%}</title>

    <link rel="preload" href="{{ get_url(path="fonts/FiraCode-Regular.woff2") }}" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="{{ get_url(path="fonts/FiraCode-Bold.woff2") }}" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ get_url(path="css/style.css", cachebust=true) }}">
    {%- if page.extra.stylesheets or section.extra.stylesheets %}
    {%- for stylesheet in page.extra.stylesheets | default(value=section.extra.stylesheets) %}
    <link rel="stylesheet" href="{{ get_url(path=stylesheet, cachebust=true) }}">
    {% endfor -%}
    {%- endif %}

    {%- if config.extra.favicon %}
    {% set image_meta = get_image_metadata(path=config.extra.favicon) -%}
    <link rel="icon" type="{{ image_meta.mime | safe }}" href="{{ get_url(path=config.extra.favicon) }}">
    {%- if image_meta.mime is ending_with("png") %}
    {% set resized_image = resize_image(path=config.extra.favicon, width=180, height=180, op="fit") -%}
    <link rel="apple-touch-icon" href="{{ resized_image.url | safe }}">
    {%- endif -%}
    {%- elif config.extra.favicon_emoji %}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>{{ config.extra.favicon_emoji }}</text></svg>">
    {%- endif %}

    {%- if config.extra.close_responsive_menu_on_resize %}
    <script src="{{ get_url(path="js/auto-close-popover-on-resize.js", cachebust=true) }}" defer></script>
    {%- endif %}
    {%- if config_macros::get(setting="copy_button", default_global_value=false) == "true" %}
    <script src="{{ get_url(path="js/copy-code-to-clipboard.js", cachebust=true) }}" defer></script>
    {%- endif %}
    {%- if config.extra.color_scheme_switcher %}
    <script src="{{ get_url(path="js/theme-switcher.js", cachebust=true) }}" defer></script>
    {%- endif %}
    {%- if config_macros::get(setting="katex", default_global_value=false) == "true" %}
    <link rel="stylesheet" href="{{ get_url(path="css/katex.min.css", cachebust=true) }}">
    <script src="{{ get_url(path="js/katex.min.js", cachebust=true) }}" defer></script>
    {%- endif %}

    {# Canonical and alternate links -#}
    {% if current_url -%}
    <link rel="canonical" href="{{ current_url | safe }}">
    {% endif -%}
    {%- if config.generate_feeds %}
    {%- for feed in config.feed_filenames -%}
    {{ feed_macros::link_alternate(filename=feed, title=config.title) }}
    {% endfor -%}
    {%- endif %}

    {#- Standard meta tags -#}
    {%- if page.authors -%}
    {%- for author in page.authors %}
    <meta name="author" content="{{ author }}">
    {%- endfor -%}
    {%- elif page and config.author %}
    <meta name="author" content="{{ config.author }}">
    {%- endif %}
    {%- block description -%}
    {%- if config.description %}
    <meta name="description" content="{{ config.description }}">
    {%- endif %}
    {%- endblock %}
    {% block robots -%}
    <meta name="robots" content="index, follow">
    {%- endblock %}
    <meta name="theme-color" content="#211f1a">
    <meta name="color-scheme" content="dark">

    {# Social media meta tags -#}
    {%- if current_path and current_path == "/" -%}
    {%- set page_title = config.title -%}
    <meta property="og:title" content="{{ page_title }}">
    {% elif current_path -%}
    {%- if page.title -%}
        {%- set page_title = page.title -%}
    {%- elif section.title -%}
        {%- set page_title = section.title -%}
    {%- elif taxonomy -%}
        {%- set page_title = taxonomy.name | capitalize -%}
    {%- else -%}
        {%- set page_title = config.title -%}
    {%- endif -%}
    <meta property="og:title" content="{{ page_title | replace(from='"', to="&quot;") | safe }}">
    {% endif -%}

    {% if page -%}
    <meta property="og:type" content="article">
    {% else -%}
    <meta property="og:type" content="website">
    {% endif -%}

    {%- if current_url -%}
    {% set permalink = page.permalink | default(value=section.permalink | default(value=current_url)) -%}
    <meta property="og:url" content="{{ permalink | safe }}">
    {% endif -%}

    {%- if page.description -%}
    <meta property="og:description" content="{{ page.description | markdown(inline=true) | striptags }}">
    {%- elif section.description -%}
    <meta property="og:description" content="{{ section.description | markdown(inline=true) | striptags }}">
    {% elif config.description -%}
    <meta property="og:description" content="{{ config.description }}">
    {% endif -%}
    <meta property="og:site_name" content="{{ config.title }}">
    <meta property="og:updated_time" content="{{ now() }}">
    {%- if config.extra.fediverse_creator %}
    <meta name="fediverse:creator" content="{{ config.extra.fediverse_creator }}">
    {%- endif %}

</head>

<body class="layout-{{ config.extra.layout }}" data-theme="{{ config.extra.color_scheme | default(value = "terminus") }}">
    <header class="header">
        {% filter indent -%}{%- filter indent -%}
        {%- block header -%}
        {% include "partials/header.html" %}
        {%- endblock -%}
        {%- endfilter -%}{%- endfilter %}
    </header>
    <main id="main">
        {% block main %}{% endblock %}
    </main>
    <footer class="footer">
        {% filter indent -%}{%- filter indent -%}
        {%- block footer -%}
        {% include "partials/footer.html" %}
        {%- endblock -%}
        {%- endfilter -%}{%- endfilter %}
    </footer>
</body>

</html>
